<% if model.errors.any? %>
  <ul class="border border-danger pr-5">
    <% model.errors.full_messages.each do |error| %>
      <li class="mb-0 text-danger"><%= error %></li>
    <% end %>
  </ul>
<% end %>