<h1 class="text-center mb-5" style="font-size: 5rem;">About</h1>

<div class="row justify-content-center">
    <p class="text-center" style="font-size: 1.5rem;">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国発送可能ですので「いつ」でも「どこ」でも五竜問いただけます。<br>
        ぜひご注文ください
    </p>
</div>